* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
.container {
  width: 70%;
  margin: 0 auto;
}
nav {
  position: fixed;
  top:0;
  background-color: rgba(247, 200, 224, 0.8);
  width: 100%;
  z-index: 999999;
}
.nav {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.nav a {
  color: #000;
  text-decoration:none;
  text-transform: uppercase;
}
.nav li {
  padding: 10px;
}
.banner {
  position: relative;
  width: 100vw;
  height: 70vh;
  background-position: center;
}
.banner-wrap {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
.banner-icon {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: 10px solid #ebe0f1;
  text-align: center;
  transition: 1s;
  margin: 0 auto;
  bottom: -82px;
  left: 43%;
}
.banner-icon img {
  object-fit: contain;
  width: 60%;
  height: 100%;
}

.banner-text {
  padding: 10px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.5);
}
.banner-text h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 36px;
}
.banner-text p {
  font-size: 18px;
  padding: 3px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.banner-text__wrap {
  padding-top: 100px;
}
.main-work-video {
  padding: 144px;
}
.main-work {
  background-image: url(../img/vidobk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slick-arrow {
  display: block;
  background-color: #ebe0f1;
  border: 0;
  padding: 10px 15px;
  margin: 7px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  transition: 0.4s;
}
.slick-arrow:hover {
  box-shadow: inset 0 0 0 3px #9e82ad;
}
footer {
  padding: 12px;
  background-color: #f9c7c8;
  text-shadow: black 0px 2px 2px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
footer > .row {
  display: flex;
  justify-content: space-between;
}
.footer-soc > a > img {
  width: 28px;
  height: 28px;
  padding: 5px;
}
audio {
  width: 100%;
}
.textSl {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 10px 0;
}
.textSl p {
  padding: 5px 23px;
}
.textSl h2 {
  text-transform: uppercase;
  padding: 5px 23px;
}
.textSl ul  {
  list-style: none;
}
.textSl ul li {
  padding: 5px 23px;
}
.main-work-sl img {
  width: 100%;
}
.textSLL {
  text-align: center;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
}
