* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  outline: none;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.block {
  position: relative;
  width: 49.8%;
  height: 50vh;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.block-left {
  border-right: 1px solid #ebe0f1;
  border-bottom: 1px solid #ebe0f1;
  border-top:0;
  border-left: 0;
}
.block-right {
  border-right: 0;
  border-bottom: 1px solid #ebe0f1;
  border-top:0;
  border-left: 1px solid #ebe0f1;
}
.block:hover {
  box-shadow: inset 0 0 0 15px #ebe0f1;
}
.blockHover {
  box-shadow: inset 0 0 0 15px #ebe0f1;
}
.block:hover .block-wrap__img {
  width: 210px;
  height: 210px;
  border: 2px solid #faf9c9;
  background-color: #faf9c9;
}
.block-wrap {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.block-wrap__img {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: 1px solid #ebe0f1;
  text-align: center;
  transition: 1s;
}
.block-wrap__img > img {
  object-fit: contain;
  width: 60%;
  height: 100%;
}
.block-wrap__text {
  text-align: center;
  margin-top: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
}
.face {
  position: absolute;
  bottom: -115px;
  right: -129px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid #b5d3f2;
  overflow: hidden;
  transition: 0.5s;
  z-index: 9999;
}
.face img {
  width: 100%;
  object-fit: contain;
}
.face:hover .block {
  box-shadow: inset 0 0 0 15px #ebe0f1;
}
.hoverAll {
  width: 210px;
  height: 210px;
  border: 2px solid #faf9c9;
  background-color: #faf9c9;
}
